.header {
  width: 100%;
  border-bottom: var(--default-border);
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 1250px) {
    width: 90%;
  }

  @media only screen and (max-width: 800px) {
    width: 100%;
    flex-direction: column;
  }
}

.logo {
  padding: 2% 5% 2% 0;
  border-right: var(--default-border);

  @media only screen and (max-width: 1250px) { 
    h1 {
      font-size: 28px;
    }
  }

  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media only screen and (max-width: 800px) {
    
    padding: 2% 5%;
    width: 100%;    
    border-right: none;
    border-bottom: var(--default-border);
  }
}

.menu {
  margin-left: 10%;

  @media only screen and (max-width: 1200px) {
    margin-left: 5%;
  }
  @media only screen and (max-width: 800px) { 
    margin-left: 0;
  }

  ul {
    list-style: none;
    display: flex;

    @media only screen and (max-width: 800px) { 
      align-items: flex-start;
    }

    li {
      font-size: 18px;
      font-weight: bold;
      padding: 0 2rem;
      
      &:not(:first-child) {
        border-left: var(--default-border);
      }

      @media only screen and (max-width: 800px) { 
        font-size: 16px;
        padding: .5rem 2rem;
      }
    }
  }
}