.container {
  border-top: var(--default-border);
  width: 100%;

  header {
    border-bottom: var(--default-border);
  }
}

.page {
  border-right: var(--default-border);
  border-left: 60px solid var(--highlight);
  height: 4rem;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 1200px) {
    height: 3rem;
    width: 30%;
    border-left-width: 30px;
  }

  @media only screen and (max-width: 800px) {
    width: 40%;
  }
}

.gray {
  color: var(--gray);
}

.detailText {
  display: flex;
}

.description {
  width: 25%;
  height: 350px;
  border-right: var(--default-border);
  color: var(--gray);
  font-size: 18px;
  padding: 3rem;

  @media only screen and (max-width: 1200px) {
    width: 30%;
    padding: 3rem 2rem;
  }

  @media only screen and (max-width: 800px) {
    width: 40%;
  }
}

.title {
  padding: 3rem;
  font-size: 48px;

  line-height: 4rem;

  @media only screen and (max-width: 1200px) { 
    font-size: 36px;
    padding: 3rem 2rem;
  }

  @media only screen and (max-width: 800px) {
    font-size: 28px;
  }
}