.container {
  border-bottom: var(--default-border);
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    font-size: 62px;
    font-weight: 300;
  }
}

.hideButton {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  
  border: none;
  background-color: transparent;

  cursor: pointer;

  svg {
    position: absolute;
    left: 10rem;
  }

  h4 {
    position: absolute;
    left: 40%;
  }
}

.content {
  position: relative;
  margin-bottom: 2rem;
  left: 15px;
  text-align: start;
  width: 300px;

  p {
    font-size: 16px;
    color: gray;
  }

  button {
    margin-top: 1rem;
  }
}