.detailsWithPicture {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 800px) {
    border: 1px solid pink;
  }
}


.detailsContainer {
  width: 500px;
  padding-right: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: 1200px) {
    padding-left: 2rem;
    padding-right: 0;
  }
}

.detailsText {
  h2 {
    font-size: 42px;
    margin-bottom: 1.5rem;
  }
  
  p {
    font-size: 18px;
  }

  @media only screen and (max-width: 1200px) {
    h2 {
      font-size: 32px;
    }

    p {
      font-size-adjust: 16px;
    }
  }

  @media only screen and (max-width: 800px) {
    
    h2 {
      font-size: 26px;
    }
    p {
      font-size: 14px;
    }
  } 
}

.detailsBtn {
  margin-top: 1rem;

  @media only screen and (max-width: 1200px) {
    padding: .5rem 1rem;
  }
}