.container {
  margin-top: 12rem;
  display: flex;
  border-top: var(--default-border);
  width: 100%;

  ul {
    list-style: none;
    font-size: 18px;

    li {
      margin-bottom: .5rem;
    }
  }

  
  h3 {
    font-size: 26px;
    margin-bottom: 2rem;
  }
}

.info {
  width: 30%;
  padding: 3rem;
  border-right: var(--default-border);
  display: flex;
  justify-content: flex-end;

}

.about {
  padding: 3rem;
}