.container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    width: 1200px;
  }

  @media only screen and (max-width: 1250px) {
    main {
      width: 90%;
    }
  }
}

.firstContact {
  position: relative;
  margin-top: 5rem;

  button {
    margin-top: 5rem;
  }
}

.firstContactText {
  h2 {
    font-size: 68px;
  }

  p {
    margin-top: 1.5rem;
    font-size: 18px;
    color: var(--gray);
  }

  @media only screen and (max-width: 800px) {
    h2 {
      font-size: 36px;
    }

    p {
      font-size: 16px;
    }
  }
  
}

.highlight {
  color: var(--highlight);
}

.arrows {
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.row {
  display: flex;
}

.sectionMargin {
  margin-top: 10rem;
}
